<div class="container">
  <template-interpolation></template-interpolation>
  <template-ref-var></template-ref-var>
  <test-value-binding></test-value-binding>
  <test-event-binding></test-event-binding>
  <test-twoway-binding></test-twoway-binding>
  <test-ng-if></test-ng-if>
  <test-ng-for></test-ng-for>
  <test-ng-switch></test-ng-switch>
  <test-ng-class></test-ng-class>
  <test-ng-style></test-ng-style>
  <test-ng-model></test-ng-model>
  <test-pipe></test-pipe>
  <test-saft-nav></test-saft-nav>
</div>